<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag 'logo.png', alt: "Logotipo del OLSC Buenos Aires", class: "navbar-logo" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active align-self-center">
            <%= link_to "Inicio", "/", class: "nav-li" %>
          </li>
          <li class="nav-item active align-self-center">
            <%= link_to "Noticias", posts_path, class: "nav-li" %>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle ", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end p-3" aria-labelledby="navbarDropdown">
                 <h6><%= "#{current_user.username}"%></h6>
                <%= link_to "Perfil", "#", class: "dropdown-item nav-link" %>
                <%= link_to "Mis publicaciones", user_posts_user_path(current_user), class: "dropdown-item nav-link" %>
                <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "dropdown-item nav-link", data: {turbo_method: :delete} %>
              </div>
          </li>
          <% else %>
            <li class="nav-item align-self-center">
              <%= link_to "Registrarse", new_user_registration_path, class: "nav-li" %>
            </li>
            <li class="nav-item align-self-center">
              <%= link_to "Iniciar sesión", new_user_session_path, class: "nav-li" %>
            </li>
          <% end %>
      </ul>
    </div>
  </div>
</div>
