<div class="container">
  <h1 class="my-5">El equipo</h1>
  <div class="row">
    <div class="col-7">
      <h2>Jugadores</h2>
      <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Partidos</th>
        <th>Goles</th>
        <th>Año de debut</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @players.each do |player| %>
        <tr>
          <td><%= player.name %></td>
          <td><%= player.birthday %></td>
          <td><%= player.games %></td>
          <td><%= player.goals %></td>
          <td><%= player.debut %></td>
          <td><%= link_to 'Detalles', player %></td>
          <td><%= link_to 'Editar', edit_player_path(player) %></td>
          <td><%= link_to "Eliminar",
                player_path(player),
                data: { turbo_method: :delete, turbo_confirm: "Estás seguro?" }%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
    <%= link_to 'Nuevo jugador', new_player_path %>
    </div>
    <div class="col-5">
      <h2>Ultimos partidos</h2>
      <% @matches.each do |match| %>
        <div class="card">
          <div class="row">
            <div class="col-6">
              <p><%=match.rival%></p>
            </div>
            <div class="col-6">
              <p><%=match.result%></p>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <h4>Convocados</h4>
              <% match.players.each do |player| %>
              <p> <%= player.name%></p>
              <% end %>
            </div>

            </div>
            <div class="col-6">
              <h4>Goleadores</h4>
              <% match.scorers.each do |scorer| %>
              <p> <%= scorer.name%></p>
              <% end %>
            </div>
          </div>
        <% end %>
    </div>
    <%= link_to 'Nuevo partido', new_match_path %>
  </div>
  <br>


</div>
