<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 class="my-5">El equipo</h1>
      <div class="row mb-3 align-items-center"> <!-- Añade una clase para margen inferior y alineación -->
        <div class="col-10">
          <h2>Jugadores</h2>
        </div>
        <div class="col-2 text-right"> <!-- Alinea el contenido de la columna a la derecha -->
          <%= link_to 'Nuevo jugador', new_player_path, class: 'btn btn-olsc float-right' %> <!-- Botón flotante a la derecha -->
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <table class="table players-table">
            <thead>
              <tr>
                <th class="table-title"><%= sort_link("name", "Nombre") %></th>
                <th class="table-title"><%= sort_link("birthday", "Edad") %></th>
                <th class="table-title"><%= sort_link("games", "Partidos") %></th>
                <th class="table-title"><%= sort_link("goals", "Goles") %></th>
                <th class="table-title"><%= sort_link("debut", "Debut") %></th>
                <th colspan="2"></th>
              </tr>
            </thead>
            <tbody>
              <% @players.each do |player| %>
              <tr class="row-player" data-controller="clickable-row" data-clickable-row-url-value="<%= player_path(player) %>" data-action="click->clickable-row#navigateTo">
                <td>
                  <% if player.photo.attached? %>
                    <%= image_tag player.photo.variant(resize_to_fill: [50, 50]).processed, class: "avatar", alt: "Avatar" %>
                  <% else %>
                    <%= image_tag "random.png", class: "avatar", alt: "Avatar por defecto" %>
                  <% end %>
                  <%= player.name %>
                </td>
                <td>
                  <% age = Time.zone.now.year - player.birthday.year %>
                  <%= "#{age} años" %>
                </td>
                <td ><%= player.games %></td>
                <td><%= player.goals %></td>
                <td><%= player.debut.strftime("%d/%m/%y") %></td>
                <td >
                <%= link_to edit_player_path(player) do %>
                      <i class="fas fa-edit"></i>
                    <% end %>
                </td>
                <td >
                  <%= link_to player_path(player),
                          data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro?" } do %>
                      <i class="fas fa-trash-alt"></i>
                    <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h1 class="my-5">Últimos partidos</h1>
      <div class="row mb-4">
        <div class="col-8">
          <%= paginate @matches %>
        </div>
        <div class="col-4">
          <%= link_to 'Nuevo partido', new_match_path, class: 'btn btn-olsc' %>
        </div>
      </div>

      <% @matches.each do |match| %>
  <%= link_to match_path(match), class: 'card-link' do %>
    <div class="card mb-4 match-card">
      <div class="card-body">
        <div class="d-flex justify-content-center align-items-center">
          <%= image_tag "logo-vertical.png", class: "team-crest", alt: "Escudo del equipo local" %>
          <div class="mx-3">
            <h5 class="text-center result_vs"><%= match.date > Date.today ? 'VS' : match.result %></h5>
          </div>
          <div class="text-center">
            <%= image_tag "generic.png", class: "opponent-crest", alt: "Escudo del equipo rival" %>
            <h5><%= match.rival %></h5>
          </div>
        </div>




              <!-- Contenedor de la lista de convocados o fecha del partido -->
        <div class="flex-grow-1 d-flex align-items-center justify-content-center">
          <% if match.date > Date.today %>
            <h5 class="text-center"><%= l(match.date, format: :long) %></h5>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
      <%= link_to 'Calendario', matches_path, class: 'btn btn-olsc' %>
    </div>
  </div>
</div>
