<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 class="my-5">El equipo</h1>
      <div class="row">
        <div class="col-12">
          <h2>Jugadores</h2>
          <table class="table">
            <thead>
              <tr>
                <th><%= sort_link("name", "Nombre") %></th>
                <th><%= sort_link("birthday", "Edad") %></th>
                <th><%= sort_link("games", "Partidos") %></th>
                <th><%= sort_link("goals", "Goles") %></th>
                <th><%= sort_link("debut", "Debut") %></th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <% @players.each do |player| %>
              <tr>
                <td>
                  <% if player.photo.attached? %>
                    <%= image_tag player.photo.variant(resize_to_fill: [50, 50]).processed, class: "avatar", alt: "Avatar" %>
                  <% else %>
                    <%= image_tag "random.png", class: "avatar", alt: "Avatar por defecto" %>
                  <% end %>
                  <%= player.name %>
                </td>
                <td>
                  <% age = Time.zone.now.year - player.birthday.year %>
                  <%= "#{age} años" %>
                </td>
                <td ><%= player.games %></td>
                <td><%= player.goals %></td>
                <td><%= player.debut.strftime("%d/%m/%y") %></td>
                <td><%= link_to 'Detalles', player %></td>
                <td><%= link_to 'Editar', edit_player_path(player) %></td>
                <td><%= link_to "Eliminar",
                  player_path(player),
                  data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro?" }%>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <%= link_to 'Nuevo jugador', new_player_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h1 class="my-5">Últimos partidos</h1>
      <div class="row mb-4">
        <div class="col-8">
          <%= paginate @matches %>
        </div>
        <div class="col-4">
          <%= link_to 'Nuevo partido', new_match_path, class: 'btn btn-primary' %>
        </div>
      </div>

      <% @matches.each do |match| %>
  <%= link_to match_path(match), class: 'card-link' do %>
    <div class="card mb-4">
      <div class="card-body">
        <div class="d-flex justify-content-center align-items-center">
          <%= image_tag "logo-vertical.png", class: "team-crest", alt: "Escudo del equipo local" %>
          <div class="mx-3">
            <h5 class="text-center result_vs"><%= match.date > Date.today ? 'VS' : match.result %></h5>
          </div>
          <div class="text-center">
            <%= image_tag "generic.png", class: "opponent-crest", alt: "Escudo del equipo rival" %>
            <h5><%= match.rival %></h5>
          </div>
        </div>




              <!-- Contenedor de la lista de convocados o fecha del partido -->
        <div class="flex-grow-1 d-flex align-items-center justify-content-center">
          <% if match.date > Date.today %>
            <h5 class="text-center"><%= l(match.date, format: :long) %></h5>
          <% else %>
            <div>
              <h5 class="text-center">Convocados</h5>
              <% match.players.each do |player| %>
                <p class="player text-center">
                  <%= player.name %>
                  <% scorer_record = match.match_scorers.find_by(player: player) %>
                  <% if scorer_record&.goals_count.to_i > 0 %>
                    <% scorer_record.goals_count.times do %>
                      <i class="fa-solid fa-futbol"></i>
                    <% end %>
                  <% end %>
                </p>
              <% end %>
            </div>
          <% end %>
        </div>

        <!-- Botón Eliminar, alineado a la derecha -->
         <div class="mt-2 d-flex justify-content-end"> <!-- Justify content end para alinear a la derecha -->
          <%= link_to "Eliminar", match_path(match),
            data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro?" },
            class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
    </div>
  </div>
</div>
