<div class="container mt-4">
  <div class="row">
    <!-- Columna para la foto -->
    <div class="col-md-4">
      <div class="image-container">
        <%= @player.photo.attached? ? image_tag(@player.photo, class: "player-photo") : image_tag('random.png', class: "player-photo") %>
      </div>
    </div>

    <!-- Columna para la información -->
    <div class="col-md-8">
      <h2><%= @player.name %></h2>
      <p><strong>Fecha del debut:</strong> <%= @player.debut.strftime("%d/%m/%Y") %></p>
      <p><strong>Partidos jugados:</strong> <%= @player.games %></p>
      <p><strong>Goles:</strong> <%= @player.goals %></p>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12">
      <h4>Descripción</h4>
      <p><%= @player.description %></p>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12">
      <%= link_to 'Edit', edit_player_path(@player), class: 'btn btn-primary' %>
      <%= link_to 'Back', players_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
