<%= form_with(model: match, data: { controller: "matches" }) do |form| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>
      <ul>
        <% match.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-6">
    <div class="field">
    <%= form.label :rival %>
    <%= form.text_field :rival, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :result %>
    <%= form.text_field :result, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date, class: "form-control" %>
  </div>
  </div>

  <div class="col-md-6">
    <div class="field">
    <%= form.label :players %>
    <%= form.collection_select(:player_ids, Player.all, :id, :name, {}, { multiple: true, class: "form-control" }) %>
  </div>

 <div class="field">
    <%= form.label :scorers, "Goleadores" %>
    <div data-matches-target="scorers">
      <%= form.fields_for :match_scorers do |scorer_fields| %>
        <%= render 'player_select', f: scorer_fields %>
      <% end %>
    </div>

    <%= link_to "Agregar Goleador", '#',
      class: "add_fields",
      data: { action: "click->matches#addScorer", target: "matches.scorers", turbo: false } %>
  </div>

  <div id="player-select-template"
    data-matches-target="template"
    class="d-none">
  <%= form.fields_for :match_scorers, MatchScorer.new, child_index: "NEW_RECORD" do |scorer_fields| %>
    <%= render 'player_select', f: scorer_fields %>
  <% end %>
  </div>
  </div>



  <div class="actions">
    <%= form.submit%>
  </div>

</div>

<% end %>
