<%= form_with(model: match) do |form| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>
      <ul>
        <% match.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rival %>
    <%= form.text_field :rival %>
  </div>

  <div class="field">
    <%= form.label :result %>
    <%= form.text_field :result %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <div class="field">
    <%= form.label :players %>
    <%= form.collection_select(:player_ids, Player.all, :id, :name, {}, { multiple: true }) %>
  </div>

  <div class="field">
    <%= form.label :scorers %>
    <%= form.collection_select(:scorer_ids, Player.all, :id, :name, {}, { multiple: true }) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
