<%= form_with(model: @post, local: true, data: { turbo: false }) do |form| %>
  <% if @post.errors.any? %>
    <div class="alert alert-danger">
      <h4>Hubo algunos errores</h4>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group my-2">
    <%= form.label :title, "Título" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group my-3">
    <%= form.label :content, "Contenido *" %>
    <%= form.text_area :content, class: "form-control" %>
  </div>

  <div class="form-group my-3">
    <%= form.label :description, "Descripción *" %>
    <%= form.rich_text_area :description, class: "form-control form-textarea" %>
  </div>
  <%= form.submit "Publicar", class: "btn btn-success" %>
<% end %>
