<h1>Lista de Posts</h1>
 <% if user_signed_in? %>
<%= link_to "Crear Nuevo Post", new_post_path, class: "btn btn-primary" %>
<% end %>

<% @posts.each do |post| %>
  <div class="card" style="width: 18rem;">
    <%= image_tag 'img-placeholder.jpeg', class: "card-img-top", alt: "Imagen de marcador de posición" %>
    <div class="card-body">
      <p class="card-text"><%= post.title %></p>
      <p>Publicado por <%= post.user.username %> el <%= post.created_at.strftime("%d/%m/%Y") %></p>
      <%= link_to "Leer", post_path(post) %>
    </div>
</div>
<% end %>
