<div class="container mt-5">
  <h2><%= @post.title %></h2>
    <p class="mt-5"><%= simple_format(@post.content) %></p>
    <p>Publicado el: <%= @post.created_at.strftime("%d/%m/%Y") %> por <%= link_to @post.user.username, user_posts_user_path(@post.user), class: "user-link" %></p>
    <% if user_signed_in? && @post.user == current_user %>
      <%= link_to "Editar", edit_post_path(@post), class: "btn btn-primary"%>
      <%= link_to "Eliminar",
        post_path(@post),
        data: {turbo_method: :delete, turbo_confirm: "Estás seguro?"},
        class: "btn btn-danger"
      %>
    <% end %>
</div>
